@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg bg-light py-4">
    <div class="container-xl">
        <a class="navbar-brand" href="/">SAVER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">DASHBOARD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ANALYZE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts">ACCOUNTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TRANSACTIONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BUDGETS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi-question-circle-fill"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">sample@example.com</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Edit account</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-lg py-3">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<footer class="footer bg-light py-4">
    <div class="container-xl d-flex text-muted">
        <p class="col-4 mb-0">&copy; @DateTime.Now.Year bkisly</p>
        <p class="col-4 d-flex align-items-center justify-content-center mb-0 me-auto">SAVER</p>
        <ul class="nav col-4 justify-content-end list-unstyled d-flex">
            <li>a</li>
            <li>a</li>
            <li>a</li>
        </ul>
    </div>
</footer>
