@inject IJSRuntime JsRuntime

<div class="p-3 bg-light rounded-3">
    <p>@Header</p>
    <canvas id="balance-chart"></canvas>
</div>

@code {
    [Parameter] public string Header { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("createChart");
        }
    }
}
