<div class="p-3 bg-light rounded-3">
    <p>@Header</p>
    <canvas id="balance-chart"></canvas>
</div>

<script src="lib/Chart.js/chart.umd.js"></script>
<script>
  const ctx = document.getElementById('balance-chart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, -3, 5, 2, 3],
        borderWidth: 3
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

@code {
    [Parameter] public string Header { get; set; } = string.Empty;
}
