<div class="bg-light rounded-2 m-0 p-3">
    <label class="mb-2">BALANCE</label>
    <p class="h3">214,048.85 USD</p>
    
    <div class="d-flex">
        <div class="me-3">
            <label>Last 7 days</label>
            <ValueDifferenceIndicator Value="285.8M" CurrencyCode="USD"/>
        </div>
        <div>
            <label>Last 30 days</label>
            <ValueDifferenceIndicator Value="-285.81M" CurrencyCode="USD"/>
        </div>
    </div>
</div>

@code {

}
