<h1 class="h3">Here are key details about your main account: Sample account.</h1>

<div class="row row-gap-4 row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4">
    <div class="col">
        <BalanceReport />
    </div>
    <div class="col">
        <BalanceReport></BalanceReport>
    </div>
    <div class="col">
        <BalanceReport></BalanceReport>
    </div>
</div>

@code {

}
