@page "/accounts"

<PageTitle>Accounts</PageTitle>

<h1 class="h3">Manage and create your bank accounts here.</h1>

<a class="btn btn-secondary rounded-3 my-3">
    <span>
        <i class="bi-plus-lg"></i>
    </span>
    <span>New bank account</span>
</a>

<div class="row p-2 my-2 bg-light rounded-3">
    <div class="col-auto my-auto">
        <i class="bi-bank fs-3"></i>
    </div>
    <div class="col my-auto">
        <p class="fs-5 fw-medium m-0">Some account</p>
        <span class="my-1">Balance: 250,000.00 USD</span>
    </div>
    <div class="col-auto my-auto justify-content-end text-end">
        <a class="my-auto mx-2 text-black" href="#">
            <i class="fs-5 bi-star"></i>
        </a>
        <a class="my-auto mx-2 text-black" href="#">
            <i class="fs-5 bi-pen"></i>
        </a>
        <a class="my-auto text-black" href="#">
            <i class="fs-5 bi-trash"></i>
        </a>
    </div>
</div>
<div class="row p-2 my-2 bg-light rounded-3">
    <div class="col-auto my-auto">
        <i class="bi-bank fs-3"></i>
    </div>
    <div class="col my-auto">
        <p class="fs-5 fw-medium m-0">Another account</p>
        <span class="my-1">Balance: 250,000.00 USD</span>
    </div>
    <div class="col my-auto justify-content-end text-end">
        <a class="my-auto mx-2 text-black" href="#">
            <i class="fs-5 bi-star"></i>
        </a>
        <a class="my-auto mx-2 text-black" href="#">
            <i class="fs-5 bi-pen"></i>
        </a>
        <a class="my-auto text-black" href="#">
            <i class="fs-5 bi-trash"></i>
        </a>
    </div>
</div>

@code {

}
