@page "/"
@using Saver.Client.Components.Reports

@if (_accounts.Count > 0)
{
    <Dashboard />
}
else 
{
    <div class="text-center justify-content-center align-items-center">
        <p class="h3">Start by creating your first bank account.</p>
        <p>Go to the "Accounts" tab and create one!</p>
    </div>
}

@code {
    private readonly List<object> _accounts = [new()];
}
W