@page "/"
@using Saver.Client.Components.Reports

<AuthorizeView>
    <Authorized>
        <Dashboard/>
    </Authorized>
    <NotAuthorized>
        <p class="text-center">Welcome to Saver!</p>
    </NotAuthorized>
</AuthorizeView>


@code {

}
